html
  head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet")
    link(rel="stylesheet", href="/css/main.scss")
    title Страница Лены!
  body
    header
      #navbarHeader.collapse.bg-dark
        .container
          .row
            .col-sm-8.col-md-9.py-4
              h4.text-white Елена Карпова
              p.text-white
                | Эта страница посвящена моему опыту в сфере музейного дизайна.
                | Здесь вы можете найти интерактивную карту, проекты в которых я участвовала
                | и стандартное резюме по кнопке справа.
                | Контакты вы можете найти внизу страницы.
                | Большое Спасибо!
            .col-sm-2.offset-md-1.py-4
              p
                a.btn.btn-outline-light.btn-lg(href='cv.pdf' role='button') Стандартное Резюме
              p
                a.btn.btn-outline-secondary(href='/') English version
              //- h4.text-white Contact
              //- ul.list-unstyled
              //-   li
              //-     a.text-white(href='#') My own exhibition
              //-   li
              //-     a.text-white(href='#carouselExampleIndicators') My projects
              //-   li
              //-     a.text-white(href='#info_link') Email me
      .navbar.navbar-dark.bg-dark.box-shadow
        .container.d-flex.justify-content-between
          a.navbar-brand.d-flex.align-items-center(href='#')
            strong Елена Карпова
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarHeader' aria-controls='navbarHeader' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon

    .map
      br
      h1.special Выберите комнату
      p.special И вы узнаете кое-что обо мне

      svg(viewbox='0 0 2560 1440')
        path.part(d="m 277.00141,187.157 -120.39604,393.77652 638.18954,2.7157 C 833.3799,300.08029 1085.5077,201.79049 1278.1895,201.64074 l -2.7157,-16.29421 z" fill="#414141" description-data="<b>НАВЫКИ</b><br><br> - Проектирование музейных экспозиций;<br> - Разработка концепций;<br> - Разработка интерактивных инсталляций;<br> - Простая 3D-визуализация: SketchUp, 3ds Max; <br>- Исследовательская деятельность.")
        path.part1(d="m 159.80585,581.25357 636.26925,-4.64541 c 2.73941,341.30579 314.8043,422.75624 473.5469,431.75084 l 0.375,26.8369 -1251.892332,2.8805 z" fill="#414141" description-data1="<b>ОБО МНЕ</b><br><br>1993 - год рождения <br>2000-2011 - школьное образрвание<br>2011-2015 - степень бакалавра<br>2015-2017 - степень магистра<br>2017-наст.вр. - работа")
        path.part2(d="m 1278.1895,201.64074 c 141.733,7.22548 200.8829,35.27162 252.9994,64.42198 0,0 78.8406,39.48977 134.3426,112.65701 61.4039,78.13114 131.0196,203.86992 35.8454,401.98071 -21.7128,35.29871 -41.4212,70.22622 -94.7343,111.37682 -59.8398,39.79896 -144.1105,111.97474 -343.8099,113.11344 -75.388,-1.7312 -178.5771,-1.4722 -306.15332,-93.01864 -57.03941,-35.71598 -72.63661,-68.71626 -100.97996,-104.43225 -67.84626,-120.86449 -96.5505,-253.89657 5.87069,-405.97659 66.14298,-83.80935 92.24838,-100.57341 125.83391,-122.5236 89.26648,-53.83563 186.73178,-79.49969 290.78548,-77.59888" fill="#414141"  description-data2="<b>ОБРАЗОВАНИЕ</b><br><br><b> 2011-2015</b><br><b>СПбГиК</b><br><i>БАКАЛАВР МУЗЕОЛОГИИ</i><br>Тема исследования: Концептуальные способы экспонирования современного искусства<br><br> <b>2015-2017</b><br><b>СПбГиК</b><br><i>МАГИСТР МУЗЕОЛОГИИ</i><br>Тема исследования: Дополненная реальность как способ визуаоизации и трансляции культурного наследия в музее")
        path.part3(d="m 1743.5564,578.02141 633.7061,-1.92148 -118.7478,-393.52033 -963.9807,0.55303 0.04,15.50639 c 224.557,26.30673 407.5423,104.85004 448.9821,379.38239 z" fill="#414141" description-data3="<b>ОПЫТ РАБОТЫ</b><br><br>2017 - наст.вр.<br>Камертон Про<br><br><b>Обязанности</b><br> - Подготовка первичных предложений для музеев по обновлению экспозиций, интеграции мультимедиа, разработке концепций экспозиций;<br>-Создание визуальных презентаций для каждого предложения;<br> -Разработка полноценных проектов экспозиций;<br>-Простая 3D-визуализация проектов.")
        path.part4(d="m 1743.2844,574.4888 634.2498,-1.10626 135.5095,447.05216 -1221.7872,6.3514 -0.7686,-28.81786 c 144.5102,-1.6294 460.4188,-84.62799 452.7965,-423.47944 z" fill="#414141" description-data4="<b>БУДУЩЕЕ</b><br><br>Работа в команде специалистов в области музейного проектирования")
      .description
      .description1
      .description2
      .description3
      .description4
      img.main_image(src='/images/final_plan.png' alt='Final plan')

    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
        li(data-target='#carouselExampleIndicators' data-slide-to='1')
        li(data-target='#carouselExampleIndicators' data-slide-to='2')
        li(data-target='#carouselExampleIndicators' data-slide-to='3')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/plan_ru.jpg' alt='План выставки')
        .carousel-item
          img.d-block.w-100(src='/images/table_ru.jpg' alt='Интерактивный стол')
        .carousel-item
          img.d-block.w-100(src='/images/holo_ru.jpg' alt='Голограмма')
        .carousel-item
          img.d-block.w-100(src='/images/inst_ru.jpg' alt='Инсталляция')  
      a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

    #info_link.jumbotron.jumbotron-fluid
      .container-fluid
        h1.display-4.middle_position КОНТАКТЫ
        p.lead.middle_position.special
          | Я всегда на связи. Просто напишите мне
          br
          a(href="facebook")
            i.fab.fa-facebook-square
          a(href="mail")
            i.far.fa-envelope
          a(href="linkedin")  
            i.fab.fa-linkedin

    footer.text-muted
      .container
        .block
          p.float-left.special Спасибо большое, надеюсь что скоро встретимся 
            i.far.fa-smile
          p.float-right.special
            a#link_style(href='#') Вернуться наверх

  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="js/main.js")