html.no-js(lang='en')
  head
    // meta data
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // font-family
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&subset=devanagari,latin-ext', rel='stylesheet')
    // title of site
    title Helena Karpova
    // For favicon png
    link(rel='shortcut icon', type='image/icon', href='/images/favicon.png')
    // font-awesome.min.css
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    // flat icon css
    link(rel='stylesheet', href='/css/flaticon.css')
    // animate.css
    link(rel='stylesheet', href='/css/animate.css')
    // owl.carousel.css
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    // bootstrap.min.css
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // bootsnav
    link(rel='stylesheet', href='/css/bootsnav.css')
    // style.css
    link(rel='stylesheet', href='/css/style.css')
    // responsive.css
    link(rel='stylesheet', href='/css/responsive.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    //if lte IE 9
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='https://browsehappy.com/') upgrade your browser
        |  to improve your experience and security.
    // top-area Start
    header.top-area
      .header-area
        // Start Navigation
        nav.navbar.navbar-default.bootsnav.navbar-fixed.dark.no-background
          .container
            // Start Header Navigation
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-menu')
                i.fa.fa-bars
              a.navbar-brand(href='/') Helena Karpova
            // /.navbar-header
            // End Header Navigation
            // Collect the nav links, forms, and other content for toggling
            #navbar-menu.collapse.navbar-collapse.menu-ui-design
              ul.nav.navbar-nav.navbar-right(data-in='fadeInDown', data-out='fadeOutUp')
                li.smooth-menu.active
                li.smooth-menu
                  a(href='#about') about
                li.smooth-menu
                  a(href='#education') education
                li.smooth-menu
                  a(href='#skills') skills
                li.smooth-menu
                  a(href='#experience') experience
                li.smooth-menu
                  a(href='#portfolio') portfolio
                li.smooth-menu
                  a(href='#contact') contact
              // /.nav
            // /.navbar-collapse
          // /.container
        // /nav
        // End Navigation
      // /.header-area
      .clearfix
    // /.top-area
    // top-area End
    // welcome-hero start
    section#welcome-hero.welcome-hero
      .container
        .row
          .col-md-12.text-center
            .header-text
              h2
                | hi 
                span ,
                |  i am 
                br
                |  helena 
                br
                |  karpova 
                span .
              p museum designer and concept developer
              a(href='cv.pdf', download='') download resume
            // /.header-text
          // /.col
        // /.row
      // /.container
    // /.welcome-hero
    // welcome-hero end
    // about start
    section#about.about
      .section-heading.text-center
        h2 about me
      .container
        .about-content
          .row
            .col-sm-6
              .single-about-txt
                h3
                  | I am an exhibition designer and concepts developer. Interesting in museum design, multimedia technology, contemporary arcitecture and interactive spaces.
                p
                  | Have a strong knowledge in field of Museology: huge theoretical basis of exhibitions creation, museums interpretation and design. Little practical experience in interactive design and creating concepts for multimedia installation and museums. Want to become a better specialist in field of museum design and be a part of creative team of developers, designers and interpretators. 
                .row
                  .col-sm-4
                    .single-about-add-info
                      h3 Skype
                      p tahti93
                  .col-sm-4
                    .single-about-add-info
                      h3 email
                      p elena.karpova93@gmail.com
            .col-sm-offset-1.col-sm-5
              .single-about-img
                img(src='/images/about/profile-image.jpg', alt='profile_image')
                .about-list-icon
                  ul
                    li
                      a(href='/facebook' target="_blank")
                        i.fa.fa-facebook(aria-hidden='true')
                    // / li
                    li
                      a(href='/linkedin' target="_blank")
                        i.fa.fa-linkedin(aria-hidden='true')
                    // / li
                    li
                      a(href='/instagram' target="_blank")
                        i.fa.fa-instagram(aria-hidden='true')
                    // / li
                  // / ul
                // /.about-list-icon
    // /.about
    // about end
    // education start
    section#education.education
      .section-heading.text-center
        h2 education
      .container
        .education-horizontal-timeline
          .row
            .col-sm-4
              .single-horizontal-timeline
                .experience-time
                  h2 2000 - 2011
                  h3
                    | School 
                    span 
                    |   
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                      | ORDINARY SCHOOL
                    h5 Saint-Petersburg, Russia
                    p.description
                  // /.timeline-content
                // /.timeline
            .col-sm-4
              .single-horizontal-timeline
                .experience-time
                  h2 2011 - 2015
                  h3
                    | bachelor 
                    span of 
                    |  Museology
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                      | University of culture and arts
                    h5 Saint-Petersburg, Russia
                    p.description
                      | Research theme: Conceptual ways of exhibiting contemporary arts
                  // /.timeline-content
                // /.timeline
            .col-sm-4
              .single-horizontal-timeline
                .experience-time
                  h2 2015 - 2017
                  h3
                    | Master   
                    span  of
                    |  Museology
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                     | University of culture and arts
                    h5 Saint-Petersburg, Russia
                    p.description
                      | Research theme: Augmented reality as a way of visualisation and presentation of cultural heritage in a museum
                  // /.timeline-content
                // /.timeline
    // /.education
    // education end
    // skills start
    section#skills.skills
      .skill-content
        .section-heading.text-center
          h2 skills
        .container
          .row
            .col-md-6
              .single-skill-content
                .barWrapper
                  span.progressText Concept creation
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='85', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 85%
                // /.barWrapper
                .barWrapper
                  span.progressText Interactive design
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 80%
                // /.barWrapper
                .barWrapper
                  span.progressText Interpretation
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 80%
                    .barWrapper
                  span.progressText Multimedia installation
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 80%
            .col-md-6
              .single-skill-content
                // /.barWrapper
                .barWrapper
                  span.progressText SketchUp
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 60%
                // /.barWrapper
                .barWrapper
                  span.progressText 3ds Max
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='45', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 45%
                // /.barWrapper
                .barWrapper
                  span.progressText  Adobe Photoshop
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 50%
                // /.barWrapper
                .barWrapper
                  span.progressText  Science research
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='10', aria-valuemax='100', style='')
                    h3 90%
                // /.barWrapper
          // /.row
        // /.container
      // /.skill-content
    // /.skills
    // skills end
    // experience start
    section#experience.experience
      .section-heading.text-center
        h2 experience
      .container
        .experience-content
          .main-timeline
            ul
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2017 - Present
                        h3 concept developer
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | Kamerton Pro Company
                          h5 Saint-Petersburg, Russia
                          p.description
                            | Developing museums exhibitions concepts and interactive installations, simple visualisation of ideas, creating presentations.
                        // /.timeline-content
                      // /.timeline
                      // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2016
                        h3 Concept developer assistant
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | A-screen Company
                            h5 Saint-Petersburg, Russia
                          p.description
                            | Internship in company during study at the master's level. Took part in a project for developing concept for the meseum's permanent exhibition. 
                        // /.timeline-content
                      // /.timeline
                    // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2015 - 2016
                        h3 Assistant at exhibitions
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            |	Primexpo Company
                          h5 Saint-Petersburg, Russia
                          p.description
                            | Project work. Assisted in exhibition organisation, meeting guests, informing guests about the events, creating a guest database.
                        // /.timeline-content
                      // /.timeline
                      // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2014
                        h3 Art gallery assistant
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | Art Reflex gallery
                          h5 Saint-Petersburg, Russia
                          p.description
                            | Internship in gallery during study at the bachelor's level. Took part in a project for organisation contemporary art exhibition. 
                        // /.timeline-content
                      // /.timeline
                // /.single-timeline-box
          // .main-timeline
        // .experience-content
    // /.experience
    // experience end
    section#portfolio.portfolio
      .portfolio-details
        .section-heading.text-center
          h2 portfolio
        .container
          .portfolio-content
            .isotope
              .row
                .col-sm-4
                  .item
                    img(src='/images/portfolio/kamaz1.jpg', alt='portfolio image')
                    .isotope-overlay
                      | Car museum concept, visualisation
                    // /.isotope-overlay
                  // /.item
                .col-sm-4
                  .item
                    img(src='/images/portfolio/article1.jpg', alt='portfolio image')
                    .isotope-overlay
                      a(href='https://vk.com/@-157803914-kniga-otzyvov-v-muzee')
                        | Article in own public
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4
                  .item
                    img(src='/images/portfolio/zal1.jpg', alt='portfolio image')
                    .isotope-overlay
                      | Project visualisation
                    // /.isotope-overlay
                  // /.item
                // /.col
              .row
                .col-sm-4
                  .item
                    img(src='/images/portfolio/katalog1.jpg', alt='portfolio image')
                    .isotope-overlay
                      | Visual presentations for museums, Photoshop
                    // /.isotope-overlay
                  // /.item
                .col-sm-4
                  .item
                    img(src='/images/portfolio/kamaz2.jpg', alt='portfolio image')
                    .isotope-overlay
                      | Car museum concept, visualisation
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4
                  .item
                    img(src='/images/portfolio/article2.jpg', alt='portfolio image')
                    .isotope-overlay
                      a(href='https://elibrary.ru/item.asp?id=27676815')
                        | Publication
                .col-sm-4
                  .item
                    img(src='/images/portfolio/article3.jpg', alt='portfolio image')
                    .isotope-overlay
                      a(href='https://elibrary.ru/item.asp?id=28914293')
                        | Publication
                    // /.isotope-overlay
                  // /.item
                .col-sm-4
                  .item
                    img(src='/images/portfolio/zal3.jpg', alt='portfolio image')
                    .isotope-overlay
                      | Project visualisation
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4
                  .item
                    img(src='/images/portfolio/katalog2.jpg', alt='portfolio image')
                    .isotope-overlay
                        | Company catalog, Photoshop
                        
                    // /.isotope-overlay
                  // /.item
                // /.col
              // /.row
            // /.isotope
          // /.gallery-content
        // /.container
      // /.portfolio-details
    // /.portfolio
    // portfolio end
    // contact start
    section#contact.contact
      .section-heading.text-center
        h2 contact me
      .container
        .contact-content
          .row
            .col-md-offset-1.col-md-5.col-sm-6
              .single-contact-box
                .contact-form
                  .header-text
                    a(href='/mail') Email Me
            .col-md-offset-1.col-md-5.col-sm-6
              .single-contact-box
                .contact-adress
                  .contact-add-head
                    h3 Helena Karpova
                    p concept developer
                  .contact-add-info
                    .single-contact-add-info
                      h3 Skype
                      p tahti93
                    .single-contact-add-info
                      h3 email
                      p elena.karpova93@gmail.com
                // /.contact-adress
                .hm-foot-icon
                  ul
                    li
                      a(href='/facebook')
                        i.fa.fa-facebook
                    // /li
                    li
                      a(href='/instagram')
                        i.fa.fa-instagram
                    // /li
                    li
                      a(href='/linkedin')
                        i.fa.fa-linkedin
                    // /li
                  // /ul
                // /.hm-foot-icon
              // /.single-contact-box
            // /.col
          // /.row
        // /.contact-content
      // /.container
    // /.contact
    // contact end
    // footer-copyright start
    footer#footer-copyright.footer-copyright
      // /.container
      #scroll-Top
        .return-to-top
          i#scroll-top.fa.fa-angle-up
      // /.scroll-Top
    // /.footer-copyright
    // footer-copyright end
    // Include all js compiled plugins (below), or include individual files as needed
    script(src='/js/jquery.js')
    // modernizr.min.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    // bootstrap.min.js
    script(src='/js/bootstrap.min.js')
    // bootsnav js
    script(src='/js/bootsnav.js')
    // jquery.sticky.js
    script(src='/js/jquery.sticky.js')
    // for progress bar start
    // progressbar js
    script(src='/js/progressbar.js')
    // appear js
    script(src='/js/jquery.appear.js')
    // for progress bar end
    // owl.carousel.js
    script(src='/js/owl.carousel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Custom JS
    script(src='/js/custom.js')
