html.no-js(lang='en')
  head
    // meta data
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    // font-family
    link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&subset=devanagari,latin-ext', rel='stylesheet')
    // title of site
    title Helena Karpova
    // For favicon png
    link(rel='shortcut icon', type='image/icon', href='/images/favicon.png')
    // font-awesome.min.css
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    // flat icon css
    link(rel='stylesheet', href='/css/flaticon.css')
    // animate.css
    link(rel='stylesheet', href='/css/animate.css')
    // owl.carousel.css
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='/css/owl.theme.default.min.css')
    // bootstrap.min.css
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    // bootsnav
    link(rel='stylesheet', href='/css/bootsnav.css')
    // style.css
    link(rel='stylesheet', href='/css/style.css')
    // responsive.css
    link(rel='stylesheet', href='/css/responsive.css')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    link(href="/css/lightbox.css" rel="stylesheet")
    link(href="/css/justifiedGallery.min.css" rel="stylesheet")
  body
    //if lte IE 9
      p.browserupgrade
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='https://browsehappy.com/') upgrade your browser
        |  to improve your experience and security.
    // top-area Start
    header.top-area
      .header-area
        // Start Navigation
        nav.navbar.navbar-default.bootsnav.navbar-fixed.dark.no-background
          .container
            // Start Header Navigation
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-menu')
                i.fa.fa-bars
              a.navbar-brand(href='/') Елена Карпова
            // /.navbar-header
            // End Header Navigation
            // Collect the nav links, forms, and other content for toggling
            #navbar-menu.collapse.navbar-collapse.menu-ui-design
              ul.nav.navbar-nav.navbar-right(data-in='fadeInDown', data-out='fadeOutUp')
                li.smooth-menu.active
                li.smooth-menu
                  a(href='#about') обо мне
                li.smooth-menu
                  a(href='#education') образование
                li.smooth-menu
                  a(href='#skills') навыки
                li.smooth-menu
                  a(href='#experience') опты работы
                li.smooth-menu
                  a(href='#portfolio') Портфолио
              // /.nav
            // /.navbar-collapse
          // /.container
        // /nav
        // End Navigation
      // /.header-area
      .clearfix
    // /.top-area
    // top-area End
    // welcome-hero start
    section#welcome-hero.welcome-hero
      .container
        .row
          .col-md-12.text-center
            .header-text
              h2
                | Привет
                span , 
                br
                |  Меня зовут 
                br
                |  Елена  
                span .
              p И я начинающий визуализатор и музейный проектировщик.
              a(href='CV_hh.pdf', download='') Скачать резюме
            // /.header-text
          // /.col
        // /.row
      // /.container
    // /.welcome-hero
    // welcome-hero end
    // about start
    section#about.about
      .section-heading.text-center
        h2 Обо мне
      .container
        .about-content
          .row
            .col-sm-6
              .single-about-txt
                h3
                  | Начинающий визуализатор.
                p
                  | Активно изучаю 3Ds Max в связке с V-ray. Постоянно развиваю свои навыки и стремлюсь к лучшим результатам. Выполняю визуализации как жилых, так и общественных пространств на основе ТЗ. При необходимости готова осваивать новые навыки.   
                h3
                  | Начинающий музейный проектировщик.
                p
                  | Имею соответствующее образование и небольшой опыт в разработке музейных и выставочных проектов, включая мультимедиа составляющую. Проекты включали в себя проработку темы (выделение подтем, зонирование пространства в соответствии с ними, наполнение разделов), разработку внешнего оформления (дизайна) экспозиции, проработку сценариев посещения музея и сценариев мультимедиа контента, разработку отдельных инсталляций, а также первичную визуализацию идей. С радостью стану частью творческой команды, занимающейся созданием креативных музейных пространств.  
            .col-sm-offset-1.col-sm-5
              .single-about-img
                img(src='/images/about/profile-image.jpg', alt='profile_image')
              .row
                .col-sm-6.col-height
                  .single-about-add-info
                    h3 Telegram
                    p @Helena_Karpova
                .col-sm-6.col-height
                  .single-about-add-info
                    h3 email
                    p elena.karpova93@gmail.com
    // /.about
    // about end
    // education start
    section#education.education
      .section-heading.text-center
        h2 Образование
      .container
        .education-horizontal-timeline
          .row
            .col-sm-4.col-height
              .single-horizontal-timeline
                .experience-time
                  h2 2000 - 2011
                  h3
                    | Школа 
                    span 
                    |   
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                      | Обычная средняя школа
                    h5 Санкт-Петербург, Россия
                    p.description
                  // /.timeline-content
                // /.timeline
            .col-sm-4.col-height
              .single-horizontal-timeline
                .experience-time
                  h2 2011 - 2015
                  h3
                    | Бакалавр 
                    span  
                    |  Музеологии
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                      | Санкт-Петербургский государственный институт культуры
                    h5 Санкт-Петербург, Россия
                    p.description
                      | Тема исследования: Концептуальные подходы экспонирования современного искусства
                  // /.timeline-content
                // /.timeline
            .col-sm-4.col-height
              .single-horizontal-timeline
                .experience-time
                  h2 2015 - 2017
                  h3
                    | Магистр   
                    span  
                    |  Музеологии
                // /.experience-time
                .timeline-horizontal-border
                  i.fa.fa-circle(aria-hidden='true')
                  span.single-timeline-horizontal
                .timeline
                  .timeline-content
                    h4.title
                      | Санкт-Петербургский государственный институт культуры
                    h5 Санкт-Петербург, Россия
                    p.description
                      | Тема исследования: Дополненная реальность как способ визуализации и трансляции культурного наследия в музеях
                  // /.timeline-content
                // /.timeline
    // /.education
    // education end
    // skills start
    section#skills.skills
      .skill-content
        .section-heading.text-center
          h2 навыки
        .container
          .row
            .col-md-6
              .single-skill-content
                .barWrapper
                  span.progressText Разработка концепций
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='85', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
                .barWrapper
                  span.progressText Интерактивный дизайн экспозиций
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='75', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
                .barWrapper
                  span.progressText ИНТЕРПРЕТАЦИЯ темы
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='10', aria-valuemax='100', style='')
                    .barWrapper
                  span.progressText Разработка сценариев мультимедиа
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='10', aria-valuemax='100', style='')
            .col-md-6
              .single-skill-content
                // /.barWrapper
                .barWrapper
                  span.progressText 3ds Max
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='65', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
                .barWrapper
                  span.progressText V-ray
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='70', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
                .barWrapper
                  span.progressText  Adobe Photoshop
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='50', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
                .barWrapper
                  span.progressText  Научные исследования
                  .single-progress-txt
                    .progress
                      .progress-bar(role='progressbar', aria-valuenow='90', aria-valuemin='10', aria-valuemax='100', style='')
                // /.barWrapper
          // /.row
        // /.container
      // /.skill-content
    // /.skills
    // skills end
    // experience start
    section#experience.experience
      .section-heading.text-center
        h2 Опыт работы
      .container
        .experience-content
          .main-timeline
            ul
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2018 - по настоящее время
                        h3 3D визуализатор
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | Freelance
                          h5 Санкт-Петербург, Россия
                          p.description
                            | Создание визуализаций общественных и жилых интерьеров, выставочных стендов по ТЗ.
                        // /.timeline-content
                      // /.timeline
                      // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2017 - 2018
                        h3 Концептолог
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | КамертонПро
                          h5 Санкт-Петербург, Россия
                          p.description
                            | Разработка концепций музейных экспозиций, первичная визуализация идей, разработка сценариев мультимедиа контента, поиск проектов, подготовка первичных предложений по интеграции мультимедиа и редизайну экспозиций. 
                        // /.timeline-content
                      // /.timeline
                      // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2016
                        h3 Стажер
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | A-screen
                            h5 Санкт-Петербург, Россия
                          p.description
                            | Стажировка, участие в разработке концепции музейной экспозиции под руководством специалистов.
                        // /.timeline-content
                      // /.timeline
                    // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2015 - 2016
                        h3 Помощник на выставках
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            |	Primexpo 
                          h5 Санкт-Петербург, Россия
                          p.description
                            | Проектная работа. Консультирование и регистрация посетителей мероприятий.
                        // /.timeline-content
                      // /.timeline
                      // /.col
              li
                .single-timeline-box.fix
                  .row
                    .col-md-5
                      .experience-time.text-right
                        h2 2014
                        h3 Стажер
                      // /.experience-time
                    // /.col
                    .col-md-offset-1.col-md-5
                      .timeline
                        .timeline-content
                          h4.title
                            span
                              i.fa.fa-circle(aria-hidden='true')
                            | Art Reflex gallery
                          h5 Санкт-Петербург, Россия
                          p.description
                            | Стажировка в галерее современного искусства. Помощь на открытиях выставок.
                        // /.timeline-content
                      // /.timeline
                // /.single-timeline-box
          // .main-timeline
        // .experience-content
    // /.experience
    // experience end
    section#portfolio.portfolio
      .portfolio-details
        .section-heading.text-center
          h2 портфолио
        .container
          .portfolio-content
            .isotope
              .row
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/new.jpeg' data-lightbox='new')
                      img(src='/images/portfolio/new.jpeg', data-lightbox="new", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/1.jpg' data-lightbox='1')
                      img(src='/images/portfolio/1_cut.jpg', data-lightbox="loft2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/3.jpg' data-lightbox='3')
                      img(src='/images/portfolio/3_cut.jpg', data-lightbox="loft2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/4.jpg' data-lightbox='4')
                      img(src='/images/portfolio/4_cut.jpg', data-lightbox="loft2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/loft2.jpeg' data-lightbox='loft2')
                      img(src='/images/portfolio/sofa_cut.jpg', data-lightbox="loft2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/loft1.jpeg' data-lightbox='loft1')
                      img(src='/images/portfolio/loft_cut.jpg', data-lightbox="loft1", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/balcony_top.jpeg' data-lightbox='balcony_top')
                      img(src='/images/portfolio/top_cut.jpg', data-lightbox="balcony_top", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/balcony_table.jpeg' data-lightbox='balcony_table')
                      img(src='/images/portfolio/table_cut.jpg', data-lightbox="balcony_table", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/kitchen1.jpeg' data-lightbox='kitchen1')
                      img(src='/images/portfolio/kitchen1_cut.jpg', data-lightbox="kitchen1", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/kitchen2.jpeg' data-lightbox='kitchen2')
                      img(src='/images/portfolio/kitchen2_cut.jpg', data-lightbox="kitchen2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/kitchen3.jpeg' data-lightbox='kitchen3')
                      img(src='/images/portfolio/kitchen3_cut.jpg', data-lightbox="kitchen3", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/toilet_light.jpeg' data-lightbox='toilet_light')
                      img(src='/images/portfolio/ipoteka_cut.jpg', data-lightbox="toilet_light", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/probnyi_viz.jpeg' data-lightbox='probnyi_viz')
                      img(src='/images/portfolio/viz_cut.jpg', data-lightbox="probnyi_viz", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/toilet1.jpeg' data-lightbox='toilet1')
                      img(src='/images/portfolio/bathroom1_cut.jpg', data-lightbox="toilet1", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/toilet2.jpeg' data-lightbox='toilet2')
                      img(src='/images/portfolio/bathroom2_cut.jpg', data-lightbox="toilet2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/toilet3.jpeg' data-lightbox='toilet3')
                      img(src='/images/portfolio/bathroom3_cut.jpg', data-lightbox="toilet3", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/bedroom_ipoteka.jpeg' data-lightbox='bedroom_ipoteka')
                      img(src='/images/portfolio/bed_cut.jpeg', data-lightbox="bedroom_ipoteka", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/library1.jpeg' data-lightbox='library1')
                      img(src='/images/portfolio/lib1_cut.jpg', data-lightbox="library1", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/library2.jpeg' data-lightbox='library2')
                      img(src='/images/portfolio/lib2_cut.jpg', data-lightbox="library2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/exhibition.jpeg' data-lightbox='exhibition')
                      img(src='/images/portfolio/final.jpeg', data-lightbox="exhibition", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
                .col-sm-4.col-height
                  .item
                    a(href='/images/portfolio/stand2.jpeg' data-lightbox='stand2')
                      img(src='/images/portfolio/stand_cut.jpg', data-lightbox="stand2", alt='portfolio image')
                    // /.isotope-overlay
                  // /.item
                // /.col
              // /.row
            // /.isotope
          // /.gallery-content
        // /.container
      // /.portfolio-details
    // /.portfolio
    // portfolio end
    // contact start
    section#contact.contact
      .section-heading.text-center
        h2 Свяжитесь со мной
      .container
        .contact-content
          .row
            .col-md-offset-1.col-md-2.col-sm-6
              .single-contact-box
                .contact-form
                  .header-text
                    a(href='/mail') Email
            .col-md-offset-1.col-md-2.col-sm-6
              .single-contact-box
                .contact-form
                  .header-text
                    a(href='https://t.me/Helena_Karpova') Telegram        
            .col-md-offset-1.col-md-5.col-sm-6
              .single-contact-box
                .contact-adress
                  .contact-add-head
                    h3 Елена Карпова
                    p визуализатор и музейный проектировщик
                  .contact-add-info
                    .single-contact-add-info
                      h3 Telegram
                      p @Helena_Karpova
                    .single-contact-add-info
                      h3 email
                      p elena.karpova93@gmail.com
                // /.contact-adress
                .hm-foot-icon
                // /.hm-foot-icon
              // /.single-contact-box
            // /.col
          // /.row
        // /.contact-content
      // /.container
    // /.contact
    // contact end
    // footer-copyright start
    footer#footer-copyright.footer-copyright
      // /.container
      #scroll-Top
        .return-to-top
          i#scroll-top.fa.fa-angle-up
      // /.scroll-Top
    // /.footer-copyright
    // footer-copyright end
    // Include all js compiled plugins (below), or include individual files as needed
    script(src='/js/jquery.js')
    // modernizr.min.js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    // bootstrap.min.js
    script(src='/js/bootstrap.min.js')
    // bootsnav js
    script(src='/js/bootsnav.js')
    // jquery.sticky.js
    script(src='/js/jquery.sticky.js')
    // for progress bar start
    // progressbar js
    script(src='/js/progressbar.js')
    // appear js
    script(src='/js/jquery.appear.js')
    // for progress bar end
    // owl.carousel.js
    script(src='/js/owl.carousel.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
    // Custom JS
    script(src='/js/custom.js')
    script(src='/js/lightbox.js')
    script(src='/js/jquery.justifiedGallery.min.js')
