#carouselExampleIndicators{
  max-height: 100%;
}
.middle_position {
  text-align: center;
}
.fab {
  font-size: 5em;
  color: black;
  margin: 20px 10px 0 10px;
}

.far {
  font-size: 5em;
  color: black;
  margin: 20 10 0 10;
}

#link_style {
  color: black;
}
