#carouselExampleIndicators{
  max-height: 100%;
}
.middle_position {
  text-align: center;
}
.fab {
  font-size: 5em;
  color: black;
  margin: 20px 10px 0 10px;
}

.far {
  font-size: 5em;
  color: black;
  margin: 20 10 0 10;
}

#link_style {
  color: black;
}

.map {
	position: relative;
	text-align: center;
}

svg {
  position: absolute;
  margin-top: 3em;
  text-align: center ;
  width: 75%;
}


.main_image {
	width: 75%;
	margin-top: 3em;
}

.part {
	opacity: 0;
}


.part:hover {
	transition: opacity .2s ease;
	opacity: .6;
}


.part1 {
	opacity: 0;
}

.part1:hover {
	transition: opacity .2s ease;
	opacity: .6;
}

.part2 {
	opacity: 0;
}

.part2:hover {
	transition: opacity .2s ease;
	opacity: .6;
}

.part3 {
	opacity: 0;
}

.part3:hover {
	transition: opacity .2s ease;
	opacity: .6;
}

.part4 {
	opacity: 0;
}

.part4:hover {
	transition: opacity .2s ease;
	opacity: .6;
}

.description {
	display: none;
	position: absolute;
	padding: 10px;
	width: 70%;
	text-align: center;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.637);
	opacity: 1;
  top: 75%;
  margin: 0 15%;
	font-family: 'Jura';
  font-size: 14;
  font-weight: 600;
  color: antiquewhite;
  z-index: 9999;
}

.description1 {
	display: none;
	position: absolute;
	padding: 10px;
	width: 70%;
	text-align: center;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.637);
	opacity: 1;
  top: 75%;
  margin: 0 15%;
	font-family: 'Jura';
  font-size: 14;
  font-weight: 600;
  color: antiquewhite;
  z-index: 9999;
}

.description2 {
	display: none;
	position: absolute;
	padding: 10px;
	width: 70%;
	text-align: center;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.637);
	opacity: 1;
  top: 75%;
  margin: 0 15%;
	font-family: 'Jura';
  font-size: 14;
  font-weight: 600;
  color: antiquewhite;
  z-index: 9999;
}

.description3 {
	display: none;
	position: absolute;
	padding: 10px;
	width: 70%;
	text-align: center;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.637);
	opacity: 1;
  top: 75%;
  margin: 0 15%;
	font-family: 'Jura';
  font-size: 14;
  font-weight: 600;
  color: antiquewhite;
  z-index: 9999;
}

.description4 {
	display: none;
	position: absolute;
	padding: 10px;
	width: 70%;
	text-align: center;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.637);
	opacity: 1;
  top: 75%;
  margin: 0 15%;
	font-family: 'Jura';
  font-size: 14;
  font-weight: 600;
  color: antiquewhite;
  z-index: 9999;
}
